.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #ebec92;
    height: 70px;
    box-shadow: 0px -8px -15px rgba(0, 0, 0, 0.3);
    bottom: 0;
}

.list {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.list li {
    list-style: none;
}

.list img {
    width: 30px;
    height: 30px;
}